body {
	background-color: rgba(0, 0, 30, 0.5);
}

/* ----- Layout ----- */
.skillGrid {
	background-color: rgba(11, 22, 12, 0.5);
	/* non selectable text */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  height: 900px;
}

.columnLeft {
  float: left; 
  width: 20%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}

.columnMiddle {
  display: inline-block; 
  width: 60%;
  height: 100%;
  background-color: rgba(90, 140, 120, 0.5);
}

.columnRight {
  float: right;
  width: 20%;
  height: 100%;
  background-color: rgba(90, 150, 200, 0.6);
}

/* ----- React Tooltip ----- */
.hoverData {
  font-size: 1.3em;
  font-family: Arial;
}

.hoverData ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ----- Selector ----- */
.gridSelector {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  font-size: 1.6em;
  font-family: Arial;
}

/* ----- Resetter ----- */
.resetButton {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  font-size: 1.6em;
  font-family: Arial; 
}

/* ----- Move Level Select ----- */
.moveLevelSelector {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  font-size: 1.6em;
  font-family: Arial; 
}

/* ----- Save Build Button ----- */
.saveBuildButton {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  font-size: 1.6em;
  font-family: Arial;  
}

/* ----- Save Build Modal ----- */
.saveBuildClose {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  width: 10%;
  height: 10%;
}

.saveBuildTitle {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  font-family: Tahoma;
  clear: both;
  height: 20%;
}

.saveBuildName {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  height: 20%;
  font-size: 1.2em;
}

.saveBuildButtonConfirm {
  display: block;
  width: 60%;
  height: 20%;
  margin: auto;
  margin-top: 10px;
  background: rgba(150, 200, 130, 0.3);
}

/* ----- Node Selections ----- */
.energy {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  text-align: center;

  font-size: 1.6em;
  font-family: Arial;
}

.selectionsList {
  overflow-y: auto;
  height: 90%;
}

.selectionsList p {
  font-size: 1.2em;
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.selectionsList div.levelOneSelections {
  background-color: rgba(233, 130, 90, 0.5);
}
.selectionsList div.levelTwoSelections {
  background-color: rgba(200, 40, 220, 0.5);
}
.selectionsList div.levelThreeSelections {
  background-color: rgba(11, 130, 100, 0.5);
}

.selectionsList ul {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
}

.selectionsList li {
  font-size: 1.0em;
  font-family: Verdana;
  color: rgb(40, 10, 40);
  padding-top: 3px;
}

/* ----- react-hexgrid ----- */
/* background color of hexagons */
svg g {
  fill-opacity: 0.3;
  
}
svg g:hover { 
  fill-opacity: 1;
}
svg g.activated {
  fill-opacity: 1;
}

svg g.stat{
  fill: rgb(30, 20, 255);
}
svg g.move {
  fill: rgb(55, 138, 3);
}
svg g.moveEffect {
  fill: rgb(150, 4, 4);
}
svg g.sync {
  fill: rgb(2, 108, 233);
}
svg g.passive {
  fill: rgb(210, 155, 0);
}

svg g.stat.activated{
  
}
svg g.move.activated {
  
}
svg g.move-passive.activated {

}
svg g.sync.activated {

}
svg g.passive.activated {

}

/* hexagon clicked */
svg g.activated .hexagon {
  fill-opacity: 1;
}

/* outline of hexagons */
svg g polygon {
	stroke: rgb(30, 201, 102);
	stroke-width: 0.1;
	transition: fill-opacity .5s;
}
svg g.activated polygon {
  stroke-width: 0.8;
}

/* text inside hexagons */
svg g text {
	fill: rgb(15, 255, 222);
	fill-opacity: 0.9;
	transition: fill-opacity .5s;

  font-size: 0.19em;
  font-family: Tahoma;
}

svg g text .nodeEnergy {
  font-size: 0.8em;
}

/* text inside hexagons, when node move level higher than selected move level */
svg g.moveLevelGated text {
  fill-opacity: 0;
}
