body {
	background-color: rgba(0, 0, 30, 0.5);
}

/* ----- Layout ----- */
.skillGrid {
	background-color: rgba(11, 22, 12, 0.5);
	/* non selectable text */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  height: 900px;
}

.columnLeft {
  float: left; 
  width: 20%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}

.columnMiddle {
  display: inline-block; 
  width: 60%;
  height: 100%;
  background-color: rgba(90, 140, 120, 0.5);
}

.columnRight {
  float: right;
  width: 20%;
  height: 100%;
  background-color: rgba(90, 102, 200, 0.5);
}

/* ----- React Tooltip ----- */
.hoverData {
  font-size: 1.3em;
  font-family: Arial;
}

.hoverData ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ----- Selector ----- */
.gridSelector {
  display: block;
  width: 200px;
  font-size: 1.6em;
  font-family: Arial;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* ----- react-hexgrid ----- */
svg g {
  /* background color of hexagons */
	fill: rgb(10, 3, 12);
  fill-opacity: 0.6;
}
svg g:hover {
  /* background colour of hexagon when hovering */
	fill-opacity: 1;
}

/* hexagon clicked */
svg g.activated .hexagon {
	fill: rgb(150, 100, 50);
}

/* outline of hexagons */
svg g polygon {
	stroke: rgb(150, 222, 122);
	stroke-width: 0.4;
	transition: fill-opacity .5s;
}

/* text inside hexagons */
svg g text {
	fill: rgb(15, 244, 222);
	fill-opacity: 0.9;
	transition: fill-opacity .5s;

  font-size: 0.2em;
  font-family: Tahoma;
}